[Desktop Entry]
Encoding=UTF-8
Name=Insurance
Comment=Insurance P2P Cryptocurrency
Exec=insurance-qt %u
Terminal=false
Type=Application
Icon=insurance128
MimeType=x-scheme-handler/insurance;
Categories=Office;Finance;
Name[en_US]=insurance-qt.desktop
